<div class="container">
    <div class="row">
        <% @listings.each do |listing| %>
        <% if !listing.purchased %>
        <div class="card col-md-6 col-lg-4">
            <% if listing.picture.attached? %>
            <%= image_tag(listing.picture, class: "card-img-top") %>
            <% else %>
            <%= image_tag("dog.png", class: "card-img-top") %>
            <% end %>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title"><%= listing.name %></h5>
                    <h5><%= "$#{listing.price}" %></h5>
                </div>
                <p class="card-text">
                    Some quick example text to build on the card title and make up
                    the bulk of the
                    card's content.
                </p>
                <%= link_to "See more", listing_path(listing.id), class: "btn btn-primary" %>
            </div>
        </div>
        <% end %>
        <% end %>
    </div>
</div>