<h1 class="page-heading-cb">Edit</h1>

<%= form_with(model: @listing, data: {turbo: false}) do |f| %>
<fieldset class="mb-2">
    <span class="d-block">
        <%= f.label :name %>
    </span>
    <span class="d-block">
        <%= f.text_field :name %>
    </span>
</fieldset>
<fieldset class="mb-2">
    <span class="d-block">
        <%= f.label :description %>
    </span>
    <span class="d-block">
        <%= f.text_field :description %>
    </span>
</fieldset>
<fieldset class="mb-2">
    <span class="d-block">
        <%= f.label :price %>
    </span>
    <span class="d-block">
        <%= f.number_field :price %>
    </span>
</fieldset>
<%# check if the listing has a picture or not %>
<% if @listing.picture.attached? %>
    <fieldset>
        <%= cl_image_tag @listing.picture.key, transformation: ["media_lib_thumb"], cloud_name: ENV["CLOUDINARY_CLOUD_NAME"] %>
    </fieldset>
<% end %>
<fieldset class="mb-2">
    <span class="d-block">
        <%= f.label :picture %>
    <span>
    <span class="d-block">
        <%= f.file_field :picture, class: "ps-5" %>
    <span>
</fieldset>
<fieldset class="pt-3">
    <%= f.submit class: 'btn btn-secondary' %>
</fieldset>
<% end %>