<h1>
    All listings
</h1>

<%# <ul> %>
    <%# <% @listings.each do |listing| %>
    <%# <li> %>
        <%# <%= link_to "#{listing.name}", listing_path(listing.id) %>
        <%# if the listing has an attached picture %>
        <%# <p> %>
            <%# <%= cl_image_tag(listing.picture.key, width: 200, cloud_name: ENV["CLOUDINARY_CLOUD_NAME"]) if listing.picture.attached? %>
            <%# <%= image_tag(listing.picture, width: 150) if listing.picture.attached? %>
            <%# <%= show_picture(listing) %>
        <%# </p> %>

    <%# </li> %>
    <%# <% end %>
<%# </ul> %>
<div class="row row-cols-1 row-cols-md-4">
<% @listings.each do |listing| %>
    <%# <% if !listing.purchased %>
    <% if listing.picture.attached? %>
        <div class="col-sm-4">
            <a href=<%= listing_path(listing.id) %>>
            <div class="card" style="width: 18rem;">
                <%# <img src="..." class="card-img-top" alt="..."> %>
                <div class="thumbnail"><%= show_picture(listing) %></div>
                <div class="card-body">
                    
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title"><%= listing.name %></h5>
                        <h5><%= "$#{listing.price}" %></h5>
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up
                        the bulk of the
                        card's content.</p>
                    <%# <a href= class="btn btn-primary">See more</a> %>
                    <%# <%= link_to "See more", listing, class: "btn btn-primary" %>
                </div>
            </div>
            </a>
            <%# <div class="card"> %>
                <%# SHOW PICTURE METHOD IN APPLICATION HELPER %>
                <%# <div class="thumbnail"><%= show_picture(listing)</div> %>
                <%# <img src="..." class="card-img-top" alt="doggy"> %>
                <%# <div class="card-body"> %>
                    <%# <p class="card-text text-secondary" id="truncate"><%= listing.description</p> %>
                    <%# <div class="d-flex justify-content-between"> %>
                        <%# <%= link_to "show", listing_path(listing.id), class: "show-button" %>
                        <%# <h5><%= "$#{listing.price}"</h5> %>
                    <%# </div> %>
                <%# </div> %>
            <%# </div> %>
        </div>
    <% end %>
<% end %>
</div>