<h1 class="page-heading-cb">Sell a dog.</h1>

<%= form_with(model: @listing, data: {turbo: false}) do |f| %>
<fieldset class="mb-2">
    <span class="d-block">
        <%= f.label :name %>
    </span>
    <span class="d-block">
        <%= f.text_field :name %>
    </span>
</fieldset>
<fieldset class="mb-2">
    <span class="d-block">
        <%= f.label :description %>
    </span>
    <span class="d-block">
        <%= f.text_field :description %>
    </span>
</fieldset>
<fieldset class="mb-2">
    <span class="d-block">
        <%= f.label :price %>
    </span>
    <span class="d-block">
        <%= f.number_field :price %>
    </span>
</fieldset>
<fieldset class="mb-2">
        <span class="d-block">
        <%= f.label :picture %>
        <span>
        <span class="d-block">
            <%= f.file_field :picture, class: "ps-5" %>
        <span>
</fieldset>
<fieldset class="pt-3">
    <%= f.submit class: 'btn btn-secondary' %>
</fieldset>
<% end %>