<h1 class="page-heading-cb">New Listing</h1>

<%# <%= render "form" %>

<%= form_with(model: @listing, data: {turbo: false}) do |f| %>
<fieldset class="mb-2">
    <%= f.label :name %>
    <%= f.text_field :name %>
</fieldset>
<fieldset class="mb-2">
    <%= f.label :description %>
    <%= f.text_field :description %>
</fieldset>
<fieldset class="mb-2">
    <%= f.label :price %>
    <%= f.number_field :price %>
</fieldset>
<fieldset class="mb-2">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
</fieldset>
<fieldset>
    <%= f.submit class: 'btn btn-primary' %>
</fieldset>
<% end %>