<h1 class="page-heading-cb"><%= @listing.name %></h1>

<div class="d-flex justify-content-center">
    <div class="card col-sm-10 col-md-8 col-lg-4 border-4">
        <% if @listing.picture.attached? %>
        <%= image_tag(@listing.picture, class: "card-img-top") %>
        <%# <%= cl_image_tag @listing.picture.key, crop: :scale, width: 150, cloud_name: ENV["CLOUDINARY_CLOUD_NAME"] if @listing.picture.attached? %>
        <% else %>
        <%= image_tag("dog.png", class: "card-img-top") %>
        <% end %>
        <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text"><%= @listing.description %></p>
            <h5 class="card-title">Gender</h5>
            <p>Male</p>
            <h5 class="card-title">Age</h5>
            <p>6 months</p>
            <h5 class="card-title">Price</h5>
            <p>$<%= @listing.price %></p>
            <div class="btn-toolbar mt-3 d-flex justify-content-center py-2">
                <%# display edit/delete options if this listing is linked to the current user and they have update permissions %>
                <% if policy(@listing).update? && current_user.listings.include?(@listing) %>
                    <%= link_to "Edit", edit_listing_path, class: "btn btn-warning me-2" %>
                    <%= button_to "Delete", @listing, class: "btn btn-danger me-2", method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete '#{@listing.name}' ?" } } %>
                <% else %>
                    <%= link_to("Buy", listing_buy_path, class: "btn btn-secondary me-2") if !@listing.purchased %>
                <% end %>
            </div>
        </div>
    </div>
<div>