<h1>My Profile</h1>

<%= image_tag "https://res.cloudinary.com/marlonmoreira000/image/upload/v1651817249/cld-sample.jpg", width: 300 %>

<h5>Personal details</h5>
<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= "Email: #{current_user.email}" %></li>
        <li class="list-group-item"><%= "No. Listings: #{current_user.listings.length}" %></li>
    </ul>
</div>

<%= link_to "My Purchases", user_purchases_path, class: "btn btn-primary" %>
<%= link_to "My Listings", user_listings_path, class: "btn btn-primary" %>
<%= link_to "Delete Account", "#", class: "btn btn-danger" %>